<%- include('includes/head.ejs') %>

<h1 class="title" style="text-align: center;">Pilotos de F1</h1>

<div class="d-flex justify-content-start" style="padding-left: 100px;">
  <a href="/pilotos/nuevo" class="btn btn-secondary" role="button">Registrar Piloto</a>
</div>
<br>
<!-- <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded"></div> -->
<% if (pilotos.length > 0) { %>
    <div class="columns">
        <% let columns = 0; %>
        <% for (var piloto of pilotos) { %>
            <% if (columns % 2 == 0) { %>
    </div>
    <div class="row" style="padding-left: 100px;">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <% } %>
            <% columns++; %>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="<%= piloto.imagen %>" class="img-fluid rounded-start" alt="Placeholder image">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title"><%= piloto.nombre %></h5>
                      <h6 class="card-title" style="color: grey;">@<%= piloto.equipo %></h6>
                      <p class="card-text"><%= piloto.descripcion %></p>
                      <p class="card-text"><small class="text-body-secondary"><%= piloto.pais%></small></p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>

<% } else { %>
    <h1>No hay pilotos registrados</h1>
<% } %>  

<% if (ultimo_piloto != '') { %>
    <div class="alert alert-success" role="alert">
      Último piloto agregado: <%= ultimo_piloto %>
    </div>
<% } %>

<%- include('includes/foot.ejs') %>

