<%- include('includes/head.ejs') %>

<% if (piloto) { %>
    <h1 class="title">Editar Piloto | <%= piloto.nombre %></h1> 
    <form action="/pilotos/editar/<%= id %>" method="POST" enctype="multipart/form-data" style="padding: 0px 40px 20px 40px;">
        <input type="hidden" name="ID" value="<%= id %>">
<% } else { %>
    <h1 class="title">Registrar nuevo Piloto</h1>
    <form action="/pilotos/nuevo" method="POST" enctype="multipart/form-data" style="padding: 0px 40px 20px 40px;">
<% } %>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >

    <label for="nombre">Nombre:</label>
    <input required name="nombre" id="nombre" type="text" class="form-control" placeholder="Piloto de F1" aria-label="Username"
        value="<% if(piloto) { %> <%= piloto.nombre %> <% } %>">
    <br>
    <label for="equipo">Equipo:</label>
    <select class="form-select" name="equipo" id="equipo">
        <% for (let equipo of equipos) { %>
            <option value="<%= equipo.ID %>" <% if(piloto.equipo == equipo.ID) { %> selected <% } %>>
                <%= equipo.nombre %>
            </option>
        <% } %>
    </select>
    <br>
    <label for="descripcion">Descripcion:</label>
    <input name="descripcion" id="descripcion" type="text" class="form-control" placeholder="Descripcion" aria-label="Username"
        value="<% if (piloto) { %> <%= piloto.descripcion %> <% } %>">
    <br>
    <label for="pais">Pais:</label>
    <input name="pais" id="pais" type="text" class="form-control" placeholder="Pais" aria-label="Username"
        value="<% if (piloto) { %> <%= piloto.pais %> <% } %>">
    <br>
    <label for="imagen">Imagen:</label>
    <input name="imagen" id="imagen" type="file" class="form-control">
    <br>
    <% if(piloto) { %>
        <input class="btn btn-success" type="submit" value="Editar">
    <% } else { %>
        <input class="btn btn-success" type="submit" value="Registrar">
    <% } %>
        
</form>

<%- include('includes/foot.ejs') %>
